*{
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', Arial, sans-serif;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: rgb(23, 75, 46);
}
.form-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: rgb(99, 153, 99);
    border: 2px solid wheat;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    font-size: 2em;
    color: white;
    text-align: center;   
}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid white;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: white;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
    top: -5px;
} 
.inputbox input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: white;
}
.forget{
    margin: -15px 0 15px;
    font-size: .9em;
    color: white;
    display: flex;
    justify-content: center;
}
.forget label input{
    margin-right: 3px;
}
.forget label a{
    color: white;
    text-decoration: none;
}
.forget label a:hover{
    text-decoration: underline;
}
button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: rgb(230, 207, 163);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
.register{
    font-size: .9em;
    color: white;
    text-align: center;
    margin: 25px 0 10px;

}
.register p a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;
}