@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap');

.footer-container{
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    font-family: "Philosopher", Arial;
}
.main-content{
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 85%;
    border-bottom: 2px solid #4b00b2;
    margin: 0 auto;
    height: 140px;
}
.main-content ul{
    list-style: none;
    justify-content: space-between;
}

.sub-content{
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}
.sub-content ul{
    list-style: none;
    display: flex;
    padding: 0px 5px;
    
}
.sub-content ul li {
    padding: 0px 1px
}