@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap');


.footer-container{
    
    background-color: white;
    color:black;
    font-family: "Philosopher", Arial;
    position: relative;
}
.main-content{
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 85%;
    border-bottom: 2px solid #4b00b2;
    margin: 0 auto;
}
.main-content ul{
    list-style: none;
    justify-content: space-between;
    padding-bottom: 5px;
    
}

.sub-content{
    display: flex;
    position: relative;
    justify-content: space-between;
    padding-top: 5px;
    width: 90%;
    margin: 0 auto;
}
.sub-content ul{
    list-style: none;
    display: flex;
    padding: 0px 5px;
    
}
.sub-content ul li {
    padding: 0px 1px
}


