.home-container {
  width: 100%;
  height: 100%;
}

.home__welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 55px solid #9b1818;
}

.home-main-img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.home-welcome-txt {
  color: #ffffff;
  font-size: 75px;
  font-family: "Times New Roman";
  background-color: #9b1818;
  position: absolute;
}

.home_line--container {
  width: 100%;
  display: flex;
}

.home__content--format {
  width: 50%;
  height: 300px;
  font-size: 50px;
  text-align: center;
  border: 15px double black;
  text-transform: capitalize;
}
.home__hours--title {
  font-size: 50px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 700;
}
.home__hours--locations {
  display: block;
  font-size: 25px;
  font-family: "PT Sans";
}

.home__hours--location--wrapper {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
}

.home-color-line {
  background-color: rgb(28, 43, 7);
}

.home__image--format {
  width: 50%;
  height: 330px;
  object-fit: cover;
}

.home-top-picks--title {
  display: block;
  display: flex;
  font-weight: 700;
  justify-content: center;
  align-items: center;
}

.home-top-picks--details {
  display: block;
  font-size: 25px;
  font-family: "PT Sans";
}

.home-top-picks--wrapper {
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 40px;
}

@media (max-width: 750px) {
  .home_line--container {
    flex-direction: column;
  }

  .home__content--format {
    width: 100%;
  }

  .home__image--format {
    width: 100%;
  }
}

@media (min-width: 750px) and (max-width: 1200px) {
  .home__hours--locations {
    font-size: 18px;
  }
}
