.menu-wrapper {
  width: 100%;
  height: min-content;
  display: grid;
  justify-content: center;
  align-items: center;
}

@media screen {
  .menu-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .menu-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .menu-wrapper {
    grid-template-columns: 1fr;
  }
}

.menu-page-title {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  margin-top: 20px;
}

.menu-items {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.menu-item {
  width: 100%;
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menu-image {
  width: 75%;
  border-radius: 15px;
}

.menu-name {
  color: #333;
  font-size: 30px;
  font-weight: 600;
  margin: 10px;
}

.menu-detail__format {
  width: 100%;
  display: flex;
  font-size: 18px;
  gap: 10px;
  margin: 10px;
}

.menu-description {
  color: #777;
}

.menu-price {
  font-weight: 600;
}
